@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.main{
    background-image: url('../image/bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(100vw,1200px);
    height: 100vh;
    position: relative;
    /* min-width: 100vw; */
    /* max-width: 100vw; */
    /* max-height: 200vw; */
    /* background-color: red; */
}



.main .box{
    width: 100%;
    height: 100vh;
    background-color: black;
    opacity: 0.44;
    position: absolute;
    top: 0px;
}

nav{
    /* background-color: red; */
    max-width: 60vw;
    /* padding-left: 5vw; */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 62px;
}

nav img{
    color: red;
    width: 148px;
    position: relative;
    z-index: 10;
    
}

nav button{
    position: relative;
    z-index: 10;
    height: 32px;
}



.btn_one{
    background-color: rgba(26,26,26,0.7);
    color: white;
    border: 1px solid white;
    border-radius: 4px;
    padding: 5px;
    font-weight: 500;
    /* padding:10px; */
    /* padding-right: 10px; */
    cursor: pointer;
    gap: 10px;
    margin-right: 20px;
}

.btn_two{
    background-color: red;
    color: white;
    /* border: 1px solid white; */
    border-radius: 4px;
    padding: 5px;
    font-weight: 500;
    width: 80px;
    cursor: pointer;
    /* padding:10px; */
    /* padding-right: 10px;
    display: flex;
    justify-content:space-between ;
    align-items: center; */
}

.hero{
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    z-index: 10;
    padding: 30px;
}

.hero> :first-child{
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.hero> :nth-child(3){
    font-size: 20px;
    text-align: center;
}

.btn_started{
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 15px;
    height: 50px;
    width: 200px;
    border-radius: 7px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.email{
    background-color: rgba(26,26,26,0.7);
    height: 44px;
    width: 300px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding-left: 10px;
}

.separation{
    height: 5px;
    width: 100%;
    background-color: rgb(74, 74, 74);
}

.first{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    font-family: 'Poppins', sans-serif;
    max-width: 80%;
    margin: auto;
    height: 370px;
}

.tv_one{
    font-size: 48px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}

.tv_two{
    font-size: 25px;

}

.sec_img img{
    width: 30vw;
}


.faq{
    background-color: black;
    color: white;
    font-family: 'Martel Sans', sans-serif;
    
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

.faqbox{
    background-color: #2d2d2d;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 50vw;
    margin:auto;
    margin-top: 34px;
    margin-bottom: 10px;
    padding: 15px;
    cursor: pointer;
}

.faqbox:hover{
    background-color: grey;
}


footer{
    color: white;
    font-family: 'Martel Sans', sans-serif;
    margin-top: 40px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 50px;
    text-decoration: none;
    color: white;
}

.Question{
    max-width: 91vw;
    margin: auto;
    margin-bottom: 20px;
}

.footer-item{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #b3b3b3;
    font-size: 12px;
    row-gap: 10px;
    /* align-items: center; */
}

.footer-item a{
    color: white;
    /* text-decoration: none; */
}

.footer_button button{
    background-color: black;
    color: white;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 5px;
    margin-top: 30px;
    margin-left: 46px;
}

.last{
    margin-top: 20px;
    margin-left: 50px;
}

.last span{
    color: #b3b3b3;
    /* font-family: 'Martel Sans', sans-serif; */
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 700;
    
}



@media screen and (max-width:622px){
    nav span img{
        margin-right: 5vw;

    }
    
    nav{
        max-width: 100vw;
        padding-left: 5vw;
    }

    
}

@media screen and (max-width:577px){
    .hero_one{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-bottom: 2vh; */
    }

    .hero >:first-child{
        font-size: 38px;
        font-weight: bold;
    }

    .hero >:nth-child(2){
        font-size: 25px;
        font-weight: bold;
    }

    .hero >:nth-child(3){
        font-size: 18px;
        /* font-weight: bold; */
    }

    .tv_one{
        font-size: 30px;
        font-weight: bolder;
        margin-bottom: 2vh;
    }

    .tv_two{
        font-size: 16px;

    }

    .first .sec_img img{
        height: 160px;
        width: 160px;
    }

    .faq h2{
        font-size: 26px;
    }

    .btn_started{
        margin-top: 2vh;
    }
}

@media screen and (max-width:675px){
    .footer{
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width:863px)
{
    .sec_img{
        width: 150px;
    }

    .first{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}





